@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "baseFont";
  src: url(assets/Lalezar-Regular.ttf);
}

@font-face {
  font-family: "iransans";
  src: url(assets/FontsFree-Net-ir_sans.ttf);
}

* {
  font-family: "iransans";
  font-size: 13px;
}

.far {
  font-size: unset;
}

body {
  background-image: url(assets/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  direction: rtl;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.flex-container {
  height: 100%;
}

.flex-fill {
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.flex-center {
  align-items: center;
}

.form-container {
  position: relative;
  background: #b5cde7;
  direction: rtl;
  padding: 1rem 2rem;
  width: 80%;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  max-width: 500px;
  max-height: 500px;
  overflow: auto;
}

.no-rows {
  font-size: 14px;
}

mat-drawer {
  width: 300px;
}

//override
.mat-list-base {
  padding-top: unset !important;
}
