<div class="flex-container flex column">
  <nav class="admin-nav"><button (click)="logout()">خروج</button></nav>

  <div class="flex flex-fill row">
    <div class="admin-menu flex column">
      <a [routerLink]="['users-list']">لیست کاربران</a>
      <a [routerLink]="['add-quiz']">سوال جدید</a>
      <a [routerLink]="['quiz-list']">لیست سوال ها</a>
      <a [routerLink]="['/main']">رفتن به صفحه آزمون</a>
    </div>
    <div class="admin-form">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
