.admin-nav {
  width: 100%;
  background-color: #222222;

  button {
    left: 0;
    position: absolute;
    z-index: 100;
  }
}

.admin-menu {
  height: 100vh;
  width: 300px;
  background-color: #aac5e0;

  a {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    outline: 1px solid;
    outline-offset: -5px;
  }
}

.admin-form {
  flex: 1;
  background: #5c8abbd4;
}
