<div class="flex-container flex column">
  <nav class="admin-nav flex end">
    <button [routerLink]="['/main']">{{ "labels.goToQuizPage" | translate }}</button>
    <button (click)="logout()">{{ "labels.logOut" | translate }}</button>
  </nav>

  <div class="flex flex-fill row">
    <div class="admin-menu flex column">
      <a [routerLink]="['users-list']">{{ "labels.usersList" | translate }}</a>
      <a [routerLink]="['quiz']">{{ "labels.addQuiz" | translate }}</a>
      <a [routerLink]="['quiz-list']">{{ "labels.quizList" | translate }}</a>
    </div>
    <div class="admin-form">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
