.admin-container {
  height: 100vh;
}

.admin-nav {
  width: 100%;
  background-color: #222222;

  span {
    color: #fff;
    margin: 0;
    padding: 0 1rem;
  }
}

.admin-menu {
  height: 100%;

  a {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    outline: 1px solid;
    outline-offset: -5px;
  }
}

.admin-form {
  flex: 1;
  background: #5c8abbd4;
  width: calc(100% - 300px);
  position: relative;
}
