<div class="form-container">
  <ul class="toolbar cf">
    <li (click)="saveQuestion()">
      <a><i class="far fa-save"></i></a>
    </li>
    <li>
      <a><i class="icon-heart-empty"></i></a>
    </li>
    <li>
      <a><i class="icon-comments-alt"></i></a>
    </li>
    <li>
      <a><i class="icon-cloud"></i></a>
    </li>
  </ul>

  <form [formGroup]="formGroup">
    <div class="form-item">
      <textarea
        autocomplete="off"
        rows="5"
        [placeholder]="'سوال'"
        formControlName="questionText"
      ></textarea>
    </div>
    <div
      formArrayName="options"
      *ngFor="let group of optionGroups; let i = index"
    >
      <div [formGroup]="group">
        <div class="form-item">
          <input
            type="text"
            id="optionText {{ i }}"
            autocomplete="off"
            formControlName="optionText"
          />
          <label [for]="'optionText' + i">گزینه اول</label>
          <input
            type="checkbox"
            [name]="'isAnswer' + i"
            formControlName="isAnswer"
          />
        </div>
      </div>
    </div>
  </form>
</div>
