<mat-toolbar [dir]="'ltr'">
  <div *ngFor="let command of commands; let last = last">
    <ng-container *ngIf="last; else elseTemplate">
      <button
        mat-raised-button
        color="primary"
        (click)="onProcessCommand(command)"
        [style.margin.px]="2"
      >
        {{ command.label || "" | translate }}
      </button>
    </ng-container>
    <ng-template #elseTemplate>
      <button
        mat-raised-button
        color="accent"
        (click)="onProcessCommand(command)"
        [style.margin.px]="2"
      >
        {{ command.label || "" | translate }}
      </button>
    </ng-template>
  </div>
</mat-toolbar>
