<!-- Icon -->
<div class="fadeIn first">
  <i class="fas fa-user fa-2x" id="icon"></i>
</div>

<!-- Login Form -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input
    type="text"
    id="username"
    class="fadeIn second"
    name="username"
    placeholder="username"
    formControlName="username"
  />
  <input
    type="password"
    id="password"
    class="fadeIn third"
    name="password"
    placeholder="password"
    formControlName="password"
  />
  <input type="submit" class="fadeIn fourth" value="Log In" />
</form>

<!-- Remind Passowrd -->
<div id="formFooter">
  <a class="underlineHover" href="#">Forgot Password?</a>
</div>
