<div class="admin-container flex column">
  <nav class="admin-nav flex space-between">
    <div class="flex">
      <button mat-icon-button (click)="nav.toggle()">
        <mat-icon [color]="color">menu</mat-icon>
      </button>
      <p>{{ "messages.welcome" | translate: { user: currentUserName } }}</p>
    </div>

    <div>
      <button [routerLink]="['/main']">
        {{ "labels.goToQuizPage" | translate }}
      </button>
      <button (click)="logout()">{{ "labels.logOut" | translate }}</button>
    </div>
  </nav>

  <div class="flex flex-fill row">
    <div class="admin-menu flex column">
      <app-side-nav #nav [menu]="menu"> </app-side-nav>
    </div>
    <div class="admin-form">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
