<div class="form-container">
  <ul class="toolbar cf">
    <li (click)="save()">
      <a><i class="far fa-save"></i></a>
    </li>
    <li>
      <a><i class="icon-heart-empty"></i></a>
    </li>
    <li>
      <a><i class="icon-comments-alt"></i></a>
    </li>
    <li>
      <a><i class="icon-cloud"></i></a>
    </li>
  </ul>

  <form [formGroup]="formGroup">
    <div class="form-item">
      <select id="category" name="category" formControlName="category">
        <ng-container *ngFor="let category of categories$ | async">
          <option [value]="category._id">
            {{ category.title }}
          </option>
        </ng-container>
      </select>
      <label [for]="'category'">{{ "labels.category" | translate }}</label>
    </div>
    <div class="form-item">
      <select id="level" name="level" formControlName="level">
        <option value="easy">
          {{ "enums.easy" | translate }}
        </option>
        <option value="medium">
          {{ "enums.medium" | translate }}
        </option>
        <option value="hard">
          {{ "enums.hard" | translate }}
        </option>
        <option value="veryHard">
          {{ "enums.veryHard" | translate }}
        </option>
      </select>
      <label [for]="'level'">{{ "labels.level" | translate }}</label>
    </div>
    <div class="form-item">
      <textarea
        autocomplete="off"
        rows="5"
        [placeholder]="'labels.questionText' | translate"
        formControlName="questionText"
      ></textarea>
    </div>
    <div
      formArrayName="options"
      *ngFor="let group of optionGroups; let i = index"
    >
      <div [formGroup]="group">
        <div class="form-item">
          <input
            type="text"
            id="optionText {{ i }}"
            autocomplete="off"
            formControlName="optionText"
          />
          <label [for]="'optionText' + i"
            >{{ "labels.option" | translate }} {{ i + 1 }}</label
          >
          <input
            type="checkbox"
            [name]="'isAnswer' + i"
            formControlName="isAnswer"
          />
        </div>
      </div>
    </div>
  </form>
</div>
