@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

@font-face {
  font-family: "baseFont";
  src: url(assets/Lalezar-Regular.ttf);
}

* {
  font-family: "baseFont";
}

body {
  background-image: url(assets/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
  direction: rtl;
  overflow: hidden;
}

div.main-page {
  width: 70%;
  height: 80%;
  border-radius: 10px;
}

.white-bg {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.flex-container {
  height: 100%;
}

.flex-fill {
  flex: 1;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.end {
  justify-content: flex-end;
}

.form-container {
  position: relative;
  background: #b5cde7;
  direction: rtl;
  padding: 1rem 2rem;
  width: 80%;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  max-width: 500px;
  max-height: 400px;
  overflow: auto;
}

.no-rows {
  font-size: 14px;
}
