@font-face {
  font-family: "baseFont";
  src: url(assets/Lalezar-Regular.ttf);
}

* {
  font-family: "baseFont";
}

body {
  background-image: url(assets/background.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  margin: 0;
}

div.main-page {
  width: 70%;
  height: 80%;
  border-radius: 10px;
}

.white-bg {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
